
      <div class="panel-body">
      <% commentable.comments.each do |comment| %>
         <ul class="list-group mb-3 shadow-sm">
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-2 col-md-1">
                  <%= gravatar_for comment.user, size: 70, class: 'rounded mb-2 img-thumbnail' %>
                </div>
                <div class="col-xs-10 col-md-11">
                    <div class="ml-3">
                      <small>usuário:<b><%= comment.user.username %></b></small>
                      <div>
                        <p><%= comment.body %></p>
                      </div>
                    </div>
                </div>
              </div>
            </li>
         </ul>         
      <% end %>
      </div>

