<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Nova Aula</h3>
    </div>
    <%= render 'form', video: @video %>
    
  </div>
  <%= link_to 'Back', videos_path %>
</div>



