@import 'bootstrap/dist/css/bootstrap';

/* default */
body {
  font-family: 'Inter', sans-serif;
}
/*     font-family: 'Roboto', sans-serif; */

/* navbar */
.bg-gray {
  background-color: rgba(17,24,39,1)!important;
}
.bg-black {
  background-color: black;
}

.bg-gray-light {
  background-color: rgb(37, 44, 61);
}

.header-text {
  font-weight: 300;
}
.text-v-sm {
  font-size: .9rem!important;
}
.navbar-margins {
  margin-left: 12%;
  margin-right: 12%;
}
.logo-size {
  height: 1.3rem;
}

.profile-links {
  font-size: 1rem;
}
.navbar-nav > li > .dropdown-menu-dark { background-color:rgba(17,24,39,1); }
.navbar-nav > li > .dropdown-menu > li > a:hover { background-color: rgba(17,24,39,1);}
.navbar-my-background {
  background: #007bff;
  width:100%;
  height: max-content;
}
.navbar-nav-left > li:hover {
  background: rgba(61, 61, 61, 0.705)!important;
  border-radius: 10px;
}
.navbar-nav-right:hover { background: none;}
.nav-link {
  font-weight: 400!important;
  font-size: 16px;
}

/* sticky footer */
body, wrapper {
  min-height:100vh;
}

.flex-fill {
  flex:1 1 auto;
}
.footy {
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}
.footer {
  margin-top: 35px!important;
}

/* profile page */
.cover {
  background: #007bff;
  background-size: cover;
  background-repeat: no-repeat
}

/* others */
.remove-p-m {
  margin: 0;
  padding: 0;
}

/* index users */
.card-box {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: #fff;
}

.social-links li a {
  border-radius: 50%;
  color: rgba(121, 121, 121, .8);
  display: inline-block;
  height: 30px;
  line-height: 27px;
  border: 2px solid rgba(121, 121, 121, .5);
  text-align: center;
  width: 30px
}

.social-links li a:hover {
  color: #797979;
  border: 2px solid #797979
}
.thumb-lg {
  height: 88px;
  width: 88px;
}
.img-thumbnail {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 50%!important;
  max-width: 100%;
  height: auto;
}
.text-pink {
  color: #ff679b!important;
}
.btn-rounded {
  border-radius: 2em;
}
.text-muted {
  color: #98a6ad!important;
}
h4 {
  line-height: 22px;
  font-size: 18px;
}
.bg-profiles {
  background: rgba(17,24,39,1);
  margin-top:30px!important;
}


.trix-button-group.trix-button-group--file-tools { display: none; }
/* custom icons*/



/* listing videos */


.card-no-border .card {
  border: 0px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem
}

.comment-widgets .comment-row:hover {
  background: rgba(0, 0, 0, 0.02);
  cursor: pointer
}

.comment-widgets .comment-row {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  padding: 15px
}

.comment-text:hover {
  visibility: hidden
}

.comment-text:hover {
  visibility: visible
}

.label {
  padding: 3px 10px;
  line-height: 13px;
  color: #ffffff;
  font-weight: 400;
  border-radius: 4px;
  font-size: 75%
}

.round img {
  border-radius: 100%
}

.label-info {
  background-color: #1976d2
}

.label-success {
  background-color: green
}

.label-danger {
  background-color: #ef5350
}

.action-icons a {
  padding-left: 7px;
  vertical-align: middle;
  color: #99abb4
}

.action-icons a:hover {
  color: #1976d2
}

.streach-listing {
  width:960px!important;
}

/* show video page */
.grid-container {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr auto;
  gap: 15px 15px;
  grid-template-areas:
    "video-content"
    "commentarios"
    ;
}




.video-content { grid-area: video-content; height: min-content; }

.commentarios { grid-area: commentarios;}

/* navbar-left */
.navbar-left p {
  font-size:20px;
}

.video-tag {
  width: 100%;
  height: 100%;
  border: none!important;
  outline: unset!important;
}

/* navbar icon */
.fa-bookmark-color {
  color: white;
}
.fa-graduation-cap {
  color:#002955;
}
.fa-caret-square-right {
  color:#002955;
}
.fa-file-text {
  color:#002955;
}
.dropdownmenu2 {
  width: 360px;
}
.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  }
  .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 5px;
    width: 280px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    
    color:  rgba(17,24,39,1);
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration:none;
    background: none;
    border: none;
    }
    .fa-search {
      color: white;
    }

  .bg-video-author {
    background: #f1f1f1d5;
  }
  .teacher-about {
    color:rgb(80, 80, 80);
  }
  .bg-comment {
    background: #afafaf;
  }
  .hr-comment {
    margin-top: -1px;
  }
  .comment-text {
    font-size: 1.5rem!important;
  }
  .reply-color {
    color: black!important;
    text-decoration: none!important;
  }
  .fa-reply {
    font-size: 13px;
  }

  /* accordion */

  .collapsible-link::before {
    content: '';
    width: 14px;
    height: 2px;
    background: rgb(252, 252, 252);
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
  }
  
  /* Vertical line */
  .collapsible-link::after {
    content: '';
    width: 2px;
    height: 14px;
    background: rgb(252, 252, 252);
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s;
  }
  
  .collapsible-link[aria-expanded='true']::after {
    transform: rotate(90deg) translateX(-1px);
  }
  
  .collapsible-link[aria-expanded='true']::before {
    transform: rotate(180deg);
  }

.video-title-bg {
  font-size: 1.5rem;
}
.video-title-sm {
  font-size: 1rem;
}
.height-actions {
  height: 100%!important;
  width:30%!important;
}

/* css da home page */
.stats-row {
  margin-top: 55px;
}

.stats-col .circle {
  display: inline-block;
  width: 160px;
  height: 160px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #666;
  border: 6px solid rgb(4, 45, 134);
  border-radius: 50%;
  padding: 55px 25px 0 25px;
  position: relative;
}

.stats-col .circle .stats-no {
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  top: -25px;
  right: -15px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: rgba(17,24,39,1);
  position: absolute;
  border-radius: 50%;
  font-weight: 700;
}

section {
  padding: 65px 0;
}
.welcome {
  color: #fff;
  height: 450px;
  overflow: hidden;
  padding-top: 60px;
  background: url(asset-path('home-bg.png')) center top repeat-x;
}

.welcome h2 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.welcome p {
  color: #fff;
  margin-bottom: 45px;
}

.features {
  padding-bottom: 45px;
}


.features h2 {
  color:  rgba(17,24,39,1);
  margin-bottom: 40px;
}

.feature-col {
  display: table;
  padding-bottom: 45px;
}

.feature-col > div > div {
  display: table-cell;
  vertical-align: middle;
}

.feature-col > div > div:last-child {
  padding-left: 20px;
}

.feature-col .feature-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
  background:  rgba(17,24,39,1);
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  display: inline-block;
}

.feature-col h3 {
  color:  rgba(17,24,39,1);
  
}

.feature-col p {
  
  font-size: 14px;
  color: #999;
}
.card {
  position: relative;
  padding: 0;
  border: 0;
  border-radius: 0;
  margin: 0;
  overflow: hidden;
  background:none;
}
.text-black1 {
  color:rgb(0, 0, 0)!important;
}
.nivel-text {
  font-size: 1.6rem!important;
}


@media (max-width: 61.9em) {
  section,
  .cta,
  .block {
    padding: 35px 0;
  }
  .features {
    padding-bottom: 5px;
  }
  .stats-col {
    margin-bottom: 25px;
  }
  .block {
    height: auto;
  }
  .feature-col {
    padding-bottom: 30px;
  }
}