@import 'bootstrap/dist/css/bootstrap';

/* default */

/* navbar */
.navbar-my-background {
  background: #007bff;
  width:100%;
  height: max-content;
}

/* sticky footer */
body, wrapper {
  min-height:100vh;
}

.flex-fill {
  flex:1 1 auto;
}
.footy {
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}
.footer {
  margin-top: 35px!important;
}

/* profile page */
.cover {
  background: #007bff;
  background-size: cover;
  background-repeat: no-repeat
}

/* others */
.remove-p-m {
  margin: 0;
  padding: 0;
}