@import 'bootstrap/dist/css/bootstrap';

/* default */

/* navbar */
.navbar-my-background {
  background: #007bff;
  width:100%;
  height: max-content;
}
.center-width {
  width: 960px;
  margin: 0 auto;
}