<footer class="footer">
  <div class="bg-primary text-center footy">
    <span class="text-white">Share Thoughts</span><i class="text-gray" style="opacity: 0.7"> | Em busca pela fluência!</i>
  </div>
</footer>
